* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 100vh;
    background: #f8f8f8;
}

.container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.container .logo {
    height: 200px;
    margin-top: 20px;

}

.container .logo.small {
    height: 150px;
}

.container .logo.x-small {
    height: 70px;
    margin-top: 0px;
    margin: 10px 0;
}

.container h1 {
    font-size: 4.3em;
    letter-spacing: 3px;
    margin-bottom: 45px;
}

.container h1.small {
    font-size: 2.9em;
    margin-bottom: 30px;
}

.container .btn {
    text-decoration: none;
    background: #004cdd;
    color: yellow;
    font-size: 1.5em;
    font-weight: bold;
    padding: 18px 0;
    width: 90%;
    text-align: center;
    border-radius: 5px;
    letter-spacing: .5px;
    border-bottom: 10px solid #000093;
}

.icons-container {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 40px;
    padding-bottom: 10px;
}

.icons-container span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 2.5em;
    border-radius: 50%;
    background: #0081e0;
    color: #ffffff;
    height: 80px;
    min-width: 80px;
    padding: 15px;
    -webkit-box-shadow: 0px 1px 10px 5px rgba(0, 23, 121, 0.20);
    box-shadow: 0px 1px 10px 5px rgba(0, 23, 121, 0.20);
}

.one {
    margin-bottom: 30px;
}

#name {
    width: 90%;
    padding: 15px 0;
    margin-bottom: 20px;
    font-size: 1.4em;
    text-align: center;
    border: 1px solid blue;
    font-style: italic;
}

#block-big {
    width: 90%;
    text-align: center;
    border: 2px solid black;
    padding: 10px 0;
    font-size: 1.6em;
    font-weight: bold;
    background: white;
}

#block-medium {
    width: 50%;
    text-align: center;
    border: 2px solid black;
    padding: 10px 0;
    font-size: 1.3em;
    font-weight: bold;
    margin-top: -7px;
    background: white;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 50px 0 0 0;
}


.dices {
    max-width: 85px;
    width: 30%;
    height: 85px;
    background-size: cover;
    background-position: center;
    margin: 5px;
    font-size: 0;
}

.num-one {
    background-image: url(../images/1.png);
}

.num-two {
    background-image: url(../images/2.png);
}

.num-three {
    background-image: url(../images/3.png);
}

.num-four {
    background-image: url(../images/4.png);
}

.num-five {
    background-image: url(../images/5.png);
}

.num-six {
    background-image: url(../images/6.png);
}



.flex-row {
    position: absolute;
    top: 0;
    left: 0;
    height: 80px;
    border-bottom: 2px solid black;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: bold;
    font-size: 1.6em;
    text-transform: uppercase;
}


.flex-row * {
    padding-top: 25px;
    white-space: nowrap;
    overflow: scroll;
    text-overflow: ellipsis;



}

.first-player-name {
    width: 37%;
    border-right: 2px solid black;
    text-align: center;

    height: 100%;

}

.score {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
    font-size: 1.3em;

}


.second-player-name {
    width: 37%;
    text-align: center;
    border-left: 2px solid black;
}

.flex-row-small {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 60px;
    width: 100%;
    position: absolute;
    top: 80px;
    border-bottom: 2px solid black;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.3em;
}

.first-player-number {
    width: 37%;
    text-align: center;
}

#very-small-logo {
    width: 45px;
}

.second-player-number {
    width: 37%;
    text-align: center;
}




#interativo {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}


#play {
    z-index: 999;
}

#dice {
    position: absolute;
    top: -500px;
    /*700px an kolla*/
    left: -13vw;
    width: 100px;
    height: 100px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

#dice .face {
    background: url(../images/dice.png) no-repeat;
    background-size: 300px 200px;
    color: white;
    font-size: 20px;
    position: absolute;
    width: 100px;
    height: 100px;
    display: block;
}

#dice .front {
    -webkit-transform: perspective(000px) rotateX(0) translateZ(50px);
    transform: perspective(000px) rotateX(0) translateZ(50px);
}

#dice .back {
    background-position: -100px 0;
    -webkit-transform: perspective(000px) rotateY(180deg) translateZ(50px);
    transform: perspective(000px) rotateY(180deg) translateZ(50px);
}

#dice .left {
    background-position: -200px 0;
    -webkit-transform: perspective(000px) rotateY(90deg) translateZ(50px);
    transform: perspective(000px) rotateY(90deg) translateZ(50px);
}

#dice .bottom {
    background-position: 0 -100px;
    -webkit-transform: perspective(000px) rotateX(-90deg) translateZ(50px);
    transform: perspective(000px) rotateX(-90deg) translateZ(50px);
}

#dice .top {
    background-position: -100px -100px;
    -webkit-transform: perspective(000px) rotateX(90deg) translateZ(50px);
    transform: perspective(000px) rotateX(90deg) translateZ(50px);
}

#dice .right {
    background-position: -200px -100px;
    -webkit-transform: perspective(000px) rotateY(-90deg) translateZ(50px);
    transform: perspective(000px) rotateY(-90deg) translateZ(50px);
}


.roll {
    margin-top: 350px;
}
